@import url('./styles/fonts.css');
@layer base, theme, mantine, components, properties, utilities;
@import "tailwindcss";
@import '@mantine/core/styles.layer.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css';

@theme {
  --breakpoint-xs: 30rem;
  --text-md: 1rem;
}

body {
  font-family: 'Degular', sans-serif;
  background-color: 'white';
  letter-spacing: '-0.4px';
}

.mantine-NavLink-section[data-rotate="true"] {
  transform: rotate(180deg) !important;
}
